<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>Search</title>
</head>

<body>
    <%- include('../partials/header'); %>
        <form method="post" action="http://localhost:3000/search/title">
            <div class="mb-3">
                <label for="title" class="form-label">Search by title</label>
                <input type="text" class="form-control" id="title" name="title">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <form method="post" action="http://localhost:3000/search/category">
            <select class="form-select" name="category">
                <option selected>Open this select menu</option>
                <% dataC.forEach(item=>{ %>
                    <option value="<%= item%>">
                        <%= item %>
                    </option>
                    <% }) %>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <%- include('../partials/posts'); %>
            <%- include('../partials/footer') %>
</body>

</html>